.container.container {
  border-radius: 0 0 24px 24px;
  padding: 24px;
  padding-bottom: 0;
}

.registerLink.registerLink {
  color: #fff;
  font-weight: 500;
}

.dividerWrapper {
  margin-inline: 60px;
}
