.container.container {
  border-radius: 0 0 24px 24px;
  padding: 24px;
  background-color: rgba(228, 226, 231, 0.03);
}

.labelText.labelText {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 143%;
  color: #e4e2e7;
}

.refreshLink.refreshLink {
  align-self: flex-start;
}
