.policyText.policyText {
  text-align: center;
  margin-bottom: 0;
  color: rgba(228, 226, 231, 0.4);
  line-height: 171%;
}

.policyLink.policyLink {
  color: rgba(228, 226, 231, 0.8);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}
